@model IEnumerable<AutoCalc.Models.Abastecimento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoPosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPorLitro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotaldeLitrosAbastecido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KilometragemTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeCombustivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observações)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoPosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPorLitro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotaldeLitrosAbastecido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KilometragemTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeCombustivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observações)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veiculo.AnoDoVeiculo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
